body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: linear-gradient(green,red);
}

div {
    margin-bottom: 15px;
}
h2{
    margin-left:50px;
}
#container{

    padding:20px;
}

input[type="text"] {
    padding: 8px;
    width: 250px;
    font-size: 16px;
    border-radius: 4px;
}
input:hover{
    border-color: #18cf5e;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #09361a;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #11b00c;
}

#result {
    background: white;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}