*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#84ac25,#6709af);
}
h1{
    margin-left:10px;
    font-size: 32px;
    margin-bottom: 5px;
}
p{
    margin-top:5px;
    font-size:14px;
}
.num-btn{
    width: 55px;
    height: 55px;
    margin: 8px;
    font-size: 20px;
}
input[type="text"]{
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    padding-left: 10px;
}
input:hover{
    border: 1px solid #0b784c;
}
.btns{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}
.btns button{
    background-color: rgb(20, 47, 51);
    color: white;
    border: none;
    border-radius: 5px;
}   
.btns button:hover{
    cursor: pointer;
    background-color: #0b784c;
}   

#container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#card{
    width:300px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    text-align:center;
    border: 1px solid #ccc;
}
